.button {
  font-family: "Oswald", "Arial", sans-serif;
  margin-left: 20px;
  margin-top: 180px;
  padding-top: 14px;
  padding-bottom: 11px;
  width: 280px;
  background-color: #68b738;
  text-transform: uppercase;
  border-style: none;
  color: #ffffff;
}

.button--purchase {
  text-decoration: none;
  padding: 10px 108px 10px 111px;
}

.button--grey {
  padding: 13px 94px 12px 97px;
  background-color: #f2f2f2;
  text-decoration: none;
  color: #444444;
}
