.catalog {
  padding: 0;
  padding-bottom: 30px;
}

.catalog__title {
  margin: 0;
  padding-left: 20px;
  padding-top: 15px;
  padding-bottom: 30px;
  font-size: 36px;
  line-height: 60px;
  text-align: left;
  font-weight: 400;
  letter-spacing: normal;
}

.catalog__item-consistency {
  display: flex;
  padding-bottom: 0;
}

.catalog__item {
  display: block;
  padding-bottom: 20px;
  border-top: 1px solid #e6e6e6;
}

.catalog__item-link {
  margin: 0;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  text-align: left;
  text-transform: uppercase;
  color: #111111;
  text-decoration: none;
}

.catalog__item-info {
  flex: 0 0 50%;
}

.catalog__item-info--more {
  padding-top: 10px;
  padding-bottom: 0;
  position: relative;
}

.catalog__item-info--more::before {
  content: "";
  position: absolute;
  top: 39px;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 31px;
  height: 31px;
  background-image: url("../img/icon-plus-mobile.svg");
  opacity: 0.2;
}

.catalog__image-link {
  flex: 0 0 50%;
  max-width: 50%;
  cursor: pointer;
}

.catalog__item-title {
  max-width: 53%;
  line-height: 20px;
  margin-bottom: 10px;
  margin-top: 20px;
}

.catalog__item--more {
  margin: 0;
  padding: 0;
  border-bottom: 1px solid #e6e6e6;
  padding-bottom: 25px;
}

.catalog__item-title--more {
  margin: 0 auto;
  font-weight: 400;
  min-width: 100%;
  padding-bottom: 11px;
  padding-top: 80px;
  text-align: center;
}

.catalog__item-description--more {
  margin: 0;
  margin-bottom: 20px;
  text-align: center;
  font-family: "Arial", sans-serif;
  font-size: 12px;
}

@media (min-width: 768px) {
  .catalog {
    padding: 0 30px;
  }

  .catalog__title {
    padding: 0;
    font-size: 60px;
    margin-top: 35px;
    margin-bottom: 60px;
  }

  .catalog__item-info {
    padding-left: 12px;
    padding-right: 5px;
    padding-top: 20px;
  }

  .catalog__item-title {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    max-width: 130px;
  }

  .catalog__item-link {
    list-style: none;
    font-size: 20px;
    line-height: 20px;
  }

  .catalog__item-title--more {
    margin: 0;
    padding: 0;
    padding-top: 157px;
    padding-bottom: 24px;
    text-align: center;
    line-height: 20px;
    max-width: 150px;
    min-width: inherit;
  }

  .catalog__item-description--more {
    font-family: "Arial", sans-serif;
    text-align: center;
    margin: 0;
    margin-bottom: 54px;
    font-size: 16px;
    max-width: 170px;
  }

  .catalog__item-info--more::before {
    background-image: url("../img/icon-plus.svg");
    width: 61px;
    height: 61px;
    top: 65px;
  }

  .catalog__item-info--more {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
  }

  .catalog__layout {
    display: flex;
    flex-wrap: wrap;
  }

  .catalog__item {
    display: block;
    background-color: #f2f2f2;
    margin-top: 110px;
    border-top: none;
    padding-bottom: 43px;
    margin-bottom: 24px;
    flex: 0 0 50%;
    max-width: 46%;
    margin-right: 8%;
  }

  .catalog__item:nth-child(2n) {
    margin-right: 0;
  }

  .catalog__item--more {
    background-color: #ffffff;
    border: solid 1px #f2f2f2;
    margin-right: 0;
    max-width: 45%;
  }

  .catalog__item-consistency {
    flex-direction: column;
  }

  .catalog__image-link {
    flex: 0 0 auto;
    max-width: inherit;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    text-align: center;
    min-height: 213px;
    margin: -90px -40px 0;
  }

  .catalog__button-container {
    width: 76%;
    margin-right: auto;
    margin-left: auto;
  }

  .catalog__button-container--more {
    width: 85%;
  }
}

@media (min-width: 1300px) {
  .catalog__item {
    max-width: 245px;
    margin-right: 80px;
  }

  .catalog__item-info {
    padding: 0 35px;
  }

  .catalog__item:nth-child(2n) {
    margin-right: 90px;
  }

  .catalog__item:nth-child(4n) {
    margin-right: 0;
  }

  .catalog__item-image {
    max-width: inherit;
  }

  .catalog__item-title {
    max-width: 80%;
  }

  .catalog__button-container--more {
    width: 90%;
  }

  .catalog__item-consistency {
    padding: 0;
    margin: 0;
    min-width: 100%;
    display: block;
    width: inherit;
  }
}
