.features__title {
  font-size: 36px;
  line-height: 60px;
  text-align: left;
  font-weight: 400;
  letter-spacing: normal;
}

.features__item {
  display: flex;
  align-items: center;
  font-family: "Arial", sans-serif;
  margin-bottom: 32px;
  font-size: 14px;
  list-style: none;

  &::before {
    content: "";
    display: block;
    background-color: #68b738;
    background-repeat: no-repeat;
    height: 60px;
    min-width: 60px;
    margin-right: 20px;
  }

  &--healthy::before {
    content: "";
    background-image: url("../img/advantage-leaf@1x.png");
    background-position: center;
  }

  &--comfortably::before {
    content: "";
    background-image: url("../img/advantage-powder@1x.png");
    background-position: center;
  }

  &--gainful::before {
    content: "";
    background-image: url("../img/advantage-dining@1x.png");
    background-position: center;
  }

  &--profitable::before {
    content: "";
    background-image: url("../img/advantage-clock@1x.png");
    background-position: center;
  }
}

.features__item-description {
  font-family: "Arial", sans-serif;
  color: #444444;
  font-size: 14px;
  margin: 0;
}

.features__list {
  padding-inline-start: 0;
}

@media (min-width: 768px) {
  .features__title {
    margin: 0;
    padding: 0;
    margin-top: 51px;
    margin-bottom: 63px;
    font-size: 60px;
  }

  .features__list {
    display: flex;
    flex-wrap: wrap;
    padding-inline-start: 0;
  }

  .features__item {
    margin: 0;
    padding: 0;
    display: block;
    flex: 0 0 50%;
    max-width: 50%;
    align-items: center;
    margin-bottom: 87px;
    counter-increment: number;
    max-height: 235px;
  }

  .features__item:nth-child(2n) {
    margin-right: 0;
  }

  .features__item-description {
    padding: 0;
    line-height: 24px;
    margin: 0;
    font-size: 16px;
    text-align: left;
    max-width: 250px;
  }

  .features__item::before {
    position: static;
    display: block;
    width: 80px;
    height: 80px;
    margin-bottom: 37px;
  }

  .features__item::after {
    font-family: "Oswald", "Arial", sans-serif;
    position: relative;
    display: block;
    content: counter(number);
    min-width: 136px;
    font-size: 281px;
    line-height: 235px;
    color: #f2f2f2;
    z-index: -1;
    text-align: center;
    top: -205px;
    right: -15px;
  }
}

@media (min-width: 1300px) {
  .features {
    padding: 0;
  }

  .features__list {
    flex-wrap: nowrap;
    margin: 0;
    padding-bottom: 90px;
  }

  .features__item {
    margin: 0;
    max-width: 250px;
    margin-right: 70px;
  }

  .features__item:nth-child(2n) {
    margin-right: 105px;
  }

  .features__item:nth-child(4n) {
    margin-right: 0;
  }

  .features__item::after {
    right: -50px;
    top: -210px;
  }
}
