.introduction__wrapper {
  background-image: linear-gradient(to top, #ffffff 175px, transparent 175px), url("/img/index-background-mobile@1x.jpg");
  background-color: #5eaa2f;
  background-repeat: no-repeat;
  background-position: center top;
  color: #ffffff;
  line-height: 1;
  text-align: center;
}

.introduction__title {
  margin: 0;
  padding-top: 29px;
  font-weight: 400;
  text-align: center;
  font-size: 36px;
  line-height: 36px;
}

.introduction__tagline {
  margin: 0;
  padding-top: 19px;
  font-size: 14px;
  text-transform: uppercase;
  padding-bottom: 50px;
}

@media (min-width: 768px) {
  .introduction__wrapper {
    background: 0 0;
  }

  .introduction__image {
    position: relative;
  }

  .introduction__title {
    width: 420px;
    line-height: 60px;
    color: #111111;
    text-align: left;
    font-size: 60px;
    padding-left: 105px;
  }

  .introduction__tagline {
    text-align: left;
    color: #111111;
    font-size: 20px;
    padding-left: 105px;
    padding-top: 48px;
  }
}

@media (min-width: 1300px) {
  .introduction__wrapper {
    margin-top: 90px;
    padding-bottom: 220px;
  }

  .introduction__title {
    padding: 0;
    padding-left: 81px;
  }

  .introduction__image {
    position: absolute;
    top: -70px;
    margin-left: -200px;
    z-index: 10;
  }

  .introduction__tagline {
    padding-left: 80px;
  }
}
