.live-example {
  background-color: #f2f2f2;
}

.live-example__title {
  margin: 0;
  font-size: 36px;
  font-weight: 400;
  padding-top: 25px;
}

.live-example__story-text {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: #444444;
}

.live-example__statistics-value {
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 400;
  text-align: center;
}

.live-example__statistics-field {
  font-family: "Arial", sans-serif;
  font-size: 12px;
  color: #444444;
  line-height: 12px;
  background-color: #f2f2f2;
  max-width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.live-example__statistics-wrapper {
  border: 1px solid #cdcdcd;
  border-radius: 3px;
  text-align: center;
  width: 45%;
  padding-top: 10px;
}

.live-example__statistics {
  margin-bottom: -20px;
  width: 130px;
  margin-left: auto;
  margin-right: auto;
}

.live-example__statistics-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-top: 27px;
}

.live-example__price {
  margin: 0;
  text-align: center;
  font-size: 14px;
  padding-bottom: 45px;
  padding-top: 35px;
  text-transform: uppercase;
}

@media (min-width: 768px) {
  .live-example {
    background-color: #ffffff;
  }

  .live-example__title {
    font-size: 60px;
    padding-bottom: 50px;
  }

  .live-example__story-text {
    margin: 0;
    font-size: 16px;
  }

  .live-example__story {
    margin-right: 20px;
    padding-bottom: 50px;
  }

  .live-example__statistics-container {
    margin: 0;
    max-width: 50%;
  }

  .live-example__statistics-layout {
    display: flex;
    justify-content: space-between;
    padding-bottom: 80px;
  }

  .live-example__price-container {
    width: 215px;
    padding-top: 15px;
  }

  .live-example__price {
    padding: 0;
    font-size: 20px;
    line-height: 20px;
    text-align: right;
  }

  .live-example__price-number {
    display: block;
    padding-top: 10px;
  }

  .live-example__statistics {
    margin-bottom: -25px;
  }

  .live-example__statistics-field {
    max-width: 100%;
    font-size: 14px;
    line-height: 14px;
    margin: 0;
    margin-top: 10px;
    background-color: #ffffff;
  }

  .live-example__statistics-value {
    font-size: 30px;
  }

  .live-example__statistics-wrapper {
    padding-top: 18px;
    padding-bottom: 18px;
  }
}

@media (min-width: 1300px) {
  .live-example__title {
    padding-top: 0;
  }

  .live-example__layout {
    max-width: 40%;
    display: flex;
    flex-wrap: wrap;
  }

  .live-example__description {
    display: flex;
    flex-wrap: wrap;
  }

  .live-example__wrapper {
    display: flex;
    justify-content: space-between;
  }

  .live-example__story-text {
    max-width: 430px;
  }

  .live-example__toggle-container {
    align-items: center;
  }

  .live-example__statistics {
    margin-bottom: -10px;
  }

  .live-example__statistics-layout {
    flex-wrap: wrap;
    width: 400px;
  }

  .live-example__statistics-container {
    max-width: 100%;
  }

  .live-example__statistics-wrapper {
    padding-bottom: 0;
    padding-top: 13px;
  }

  .live-example__price-container {
    margin-top: 63px;
    width: 400px;
    padding: 0;
  }

  .live-example__price {
    text-align: left;
  }

  .live-example__price-number {
    display: inline-block;
    vertical-align: baseline;
    margin-left: 65px;
  }
}
