.social-links__list {
  display: flex;
  padding-top: 56px;
  padding-bottom: 44px;
  margin: 0;
  margin-left: 93px;
  padding-inline-start: 0;
}

.social-links__item {
  list-style: none;
  margin-right: 40px;
}

@media (min-width: 768px) {
  .social-links__list {
    margin-left: 155px;
  }
}

@media (min-width: 1300px) {
  .social-links__list {
    margin-left: 300px;
  }
}
